{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    
    {{ include('EMMUserBundle:User:messages/success.html.twig') }}

	<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">
				<h2 class="padding-none">{% trans %} Users {% endtrans %}</h2>
			</div>
			<div class="table-responsive">
				{{ 'Total records:'|trans }} {{ pagination.getTotalItemCount }}
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							{# traduccion usando filtros #}
                            <th>{{ knp_pagination_sortable(pagination, 'Username'|trans, 'u.username' ) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'First name'|trans, 'u.firstName' ) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Last name'|trans, 'u.lastName' ) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email' ) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Role'|trans, 'u.role' ) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Created'|trans, 'u.createdAt' ) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Updated'|trans, 'u.updatedAt' ) }}</th>
                            
                            <th>{{ 'Actions' | trans }}</th>
						</tr>
					</thead>
					<tbody>
				        {% for user in pagination %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.role == 'ROLE_ADMIN' %}
                                        <strong>
                                        	{{ 'Administrator' | trans }}
                                        </strong>
                                    {% elseif user.role == 'ROLE_USER' %}
                                        <strong>
                                             {{ 'User' | trans }} 
                                        </strong>
                                    {% endif %}
                                </td>
                                <td>{{ user.createdAt|date('d-m-Y H:i') }}</td>
                                <td>{{ user.updatedAt|date('d-m-Y H:i') }}</td>
				                <td class="actions">
			                        <a href="{{ path('emm_user_view', { id: user.id }) }}" class="btn btn-sm btn-info">
			                           {{ 'View' | trans }}
			                        </a>

			                        <a href="{{ path('emm_user_edit', { id: user.id }) }}" class="btn btn-sm btn-primary">
			                           {{ 'Edit' | trans }}
			                        </a>

			                        <a href="#" class="btn btn-sm btn-danger btn-delete">
			                           {{ 'Delete' | trans }}
			                        </a>
				                </td>
                            </tr>
				        {% endfor %}
					</tbody>
				</table>
				{# display navigation #}
				<div class="navigation">
					{{ knp_pagination_render(pagination) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
