{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <input type="button" value="{{ 'Delete user'|trans }}" 
           class="btn btn-lg btn-block btn-danger" 
           onclick="confirmDelete()">
    
{{ form_end(form) }}

<script>
    var message = '{{ message }}';
    
    function confirmDelete()
    {
        bootbox.confirm(message, function(result){
            if(result)
            {
                document.form.submit();
            }
        });
    }
</script>